/*********************************************************************************************
Content
1. Global Styles
2. Header
3. Main content
4. Footer
5. Responsiveness



Fonts:
Body - Monserrat
*********************************************************************************************/


/*------------------------------------------------------------------------------------------*/
/* 1. Global Styles */
/*------------------------------------------------------------------------------------------*/
body{
    font-family: 'Montserrat', sans-serif;
    background: #E3E0CE;
    color: #41535D;;
}
.logo{
    font-size:3rem;
}
.centered{
    text-align: center !important;
    margin-bottom: 70px;
}
.left{
    float:left !important;
}
.right{
    float:right !important;
}
select{
    padding: 10px 20px;
    color: #41535D;
}
.topBar{
    padding:20px 50px;
    background-color: #41535D;
    color:#EDE9EC;
}
a:visited{
    color:inherit;
}
a{
    text-decoration: none;
}

.route, .suggestions{
  float: left;
  width: 50%;
}

.suggestions h3{
  text-align: center;
}

html,body{
  text-align: left;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 768px;
  margin: auto;
  padding: 1em;
  height: auto;
}

.home{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.select_container{
  max-width: 600px;
  margin: auto;
}

.select{
  float: left;
}

.home label, .home select{
  float: left;
}

h1{
  text-align: center;
}

form{
  text-align: center;
}

.submit{
  display: block;
  clear: both;
  margin: auto;
  padding: 10px 122px;
  font-size: 1rem;
  font-weight: 700;
  background-color:  #41535D;
  border: 2px solid #41535D;
  border-radius: 5px;
  color:#E3E0CE;
  cursor:pointer;
}
.submit:hover{
    border: 2px solid #41535D;
    background-color:  #E3E0CE;
    color:#41535D;
    cursor:pointer;
}
.select{
  padding-left: 10px;
  margin-bottom: 30px;
}
.select:first-child{
  padding-left: 0;
  padding-right: 10px;
}

.submit_genre{
  padding: 10px 61px;
  margin: 10px;
  border-radius: 5px;
  background-color:  #41535D;
  border: 2px solid #41535D;
  color:#E3E0CE;
  cursor:pointer;
}
.submit_genre:hover{
    border: 2px solid #41535D;
    background-color:  #E3E0CE;
    color:#41535D;
    cursor:pointer;
}
